@media only screen and (max-width: 768px) {
.login-form {
  width: 90%;
  max-width: 360px;
  height: 90%;
  max-height: 580px;
  }
}

@media only screen and (max-width: 500px) {
  .login-form {
    width: 75%;
    max-width: 360px;
    height: 75%;
    max-height: 580px;
  }
}

